.character-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.character-card {
  width: 100%; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.character-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.character-name {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 0 0 8px 8px;
  font-weight: bold;
  font-size: 16px;
}

.character-name {
  display: block;
  text-align: center;
  font-weight: bold; 
  font-size: 16px; 
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loader {
  border: 6px solid #f3f3f3; 
  border-top: 6px solid #3498db; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .character-item {
    width: calc(50% - 20px); 
  }
}

@media (max-width: 576px) {
  .character-item {
    width: calc(100% - 20px); 
  }
}
